
:root {
--pale-Blue: hsl(243, 100%, 93%);
--grayish-Blue: hsl(229, 7%, 55%);
--dark-Blue: hsl(228, 56%, 26%);
--very-Dark-Blue: hsl(229, 57%, 11%);
--progress-bar: linear-gradient(to right, hsl(6, 100%, 80%) , hsl(335, 100%, 65%));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--grayish-Blue);
    font-family: 'Raleway', sans-serif;

}

body {
    background-repeat: no-repeat;
    background-size: 100% 50%, cover;
    background-position: bottom;
    background-image: url(../images/bg-desktop.svg) ;
    background-color: var(--very-Dark-Blue);
}


.container {
    width: 70%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.info {
    width: 350px;
    height: 200px;
    padding: 40px;
    margin-right: 20px;
    border-radius: 8px;
    border-top-right-radius: 100px;
    background-color: var(--dark-Blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info .menu {
    margin-top: 20px;
}

.info .menu img {
    width: 40px;
    height: 40px;
    padding: 12px;
    margin-right: 10px;
    border-radius: 8px;
    background-color: var(--very-Dark-Blue);
}

.storage {
    width: 550px;
    height: 160px;
    padding: 40px;
    border-radius: 8px;
    background-color: var(--dark-Blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.storage span{
    font-weight: 700;
    color: var(--pale-Blue)
}

.progress-bar {
    position: relative;
    margin: 10px 0;
    width: 100%;
    height: 20px;
    padding: 3px;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    background-color: var(--very-Dark-Blue);
}
.info-bar {
    position: absolute;
    top: -120px;
    right: 0;
    width: 175px;
    height: 75px;
    border-radius: 8px;
    border-bottom-right-radius: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-bar h1 {
    font-size: 44px;
    color: var(--very-Dark-Blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-bar h1 span {
    margin-left: 10px;
    font-size: 10px;
    color: var(--grayish-Blue);
}

.progress-bar::after {
content: "";
position: absolute;
width: 40px;
height: 23px;
bottom: 42px;
right: 0;
clip-path: polygon(101% 0%, 48% 0%, 101% 100%);
background-color: #fff;
}

.progress {
    position: relative;
    width: 75%;
    height: 15px;
    border-radius: 8px;
    background-image: var(--progress-bar);
}

.progress::before {
    content: "";
    position: absolute;
    right: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
}

.disk {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    color: var(--pale-Blue)
}
